<!-- <% content_for(:js) do %>
  <%= javascript_pack_tag 'story' %>
<% end %> -->

<%= render 'shared/header' %>
<div class="container">

  <div class="card mb-3">
    <div class="image-container">
      <%= image_tag random_cute_animal_image, alt: 'Random cute animal', class: 'card-img-top' %>
    </div>
    <div class="card-body">
      <h1 class="card-title"><%= @story.title %></h1>
      <p class="card-text"><%= link_to @story.user.username, @story.user %> | <%= time_ago_in_words(@story.created_at) %> ago | <%= @story.score %> points</p>
      <p class="card-text"><small class="text-muted"><%= link_to @story.url %></small></p>
    </div>
  </div>

  <p>Comments (<%= @story.comments.count %>)</p>
  <%= render partial: "story_comments", locals: { comments: display_comments(@story.comments) } %>
</div>
