<%= render 'shared/header' %>
<div class="container">
    <img src="" class="img-fluid" alt="">
  <h1><%= @story.title %></h1>

  <div class="story__url"><%= link_to @story.url %></div>
  <div class="story__title"></div>
  <div class="story__by"><%= @story.user.username %></div>

  <div><%= @story.comments.count %></div>

  <%= render partial: "story_comments", locals: { comments: display_comments(@story.comments) } %>

</div>
