<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bloatly McBloatface</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rokkitt" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_include_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
