<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/">
    <title>Bloatly McBloatface</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Rokkitt|Signika" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <!-- <%= stylesheet_pack_tag 'application' %> -->
    <%= javascript_pack_tag 'application' %>

    <!-- <%= content_for(:js) %> -->

  </head>

  <body>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
